html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* //////////
module
////////// */
.m-link-icon {
  position: relative;
}

.m-link-icon::after {
  vertical-align: middle;
  content: '';
  /* position: absolute; */
  display: inline-block;
  top: 10px;
  right: -2px;
  width: 12px;
  height: 12px;
  border: 1px solid rgb(59 130 246);
  /* border-top: none;
  border-left: none; */
  box-shadow: 3px 3px 0 -1px rgb(59 130 246);
  margin-left: 6px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .m-link-icon:hover::after {
    opacity: 0.7;
  }
}

/* //////////
modal
////////// */
.wrap {
  display: none;
}
.wrap.is-open {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog {
  overflow-y: auto;
  max-height: 100vh;
  max-width: 800px;
  padding: 40px;
  background-color: #fff;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide[aria-hidden='false'] .overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .dialog {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .dialog {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .dialog,
.micromodal-slide .overlay {
  will-change: transform;
}
